<div class="scroll-wrapper chat_list scrollbar-dynamic" style="position: relative;">
    <div>
        <div class="top-placeholder" style="height: 0px;"></div>
        <div>
        <div class="chat_item slide-left">
            <div class="ext">
                <p class="attr">17:18</p>
                <p class="attr">
                    <i class="web_wechat_no-remind"></i>
                </p>
            </div>
            <div class="avatar">
                <img class="img" src="" alt="">
                <i class="icon web_wechat_reddot"></i>
            </div>
            <div class="info">
                <h3 class="nickname">
                    <span class="nickname_text ng-binding">东北大学大连校友会微信1群</span>
                </h3>
                <p class="msg">
                    <span class="ng-binding">[3条]</span>
                    <span class="ng-binding">10自动化-石璐:海洋依旧那么蠢萌</span>
                </p>
            </div>
        </div>
    </div>
        </div>
    </div><div class="bottom-placeholder" style="height: 3136px;"></div></div>
</div>